.introducao {
    display: flex;
    justify-content: space-around;
}

.imagemintroducao {
    width: 55vh;
}

.Inicio{
    display: flex;
} 

#logo {
    height: 15vh;
    position: static;
}

body {
    background-color:blanchedalmond;
}

.atencao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

a[href="Formulario.html"] {
    background-color:goldenrod;
    font-size: 6vh;
    position: absolute;
    left: 14.3%;
    text-decoration: none;
    border-radius: 10%;
    color:crimson;
}

.org2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:darkgoldenrod;
    font-size: 6vh;
    padding: 55px;
}

.org3 {
    background-color:cornflowerblue;
    display: flex;
    color:darkorchid;
    align-items: center;
    justify-content: space-evenly;
}

#org4 {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80vh;
    height: 90vh;
    padding-top: 10px;
    justify-content: center;
    background-color: rgb(247, 192, 126);
    border-radius: 5%;
}

.form {
    width: 35vh;
    height: 3vh;
}

#botao {
    border-radius: 10%;
    font-size: 4vh;
}

p[form] {
    font-size: 5vh;
    color: darkorange;
}